<div class="tab-nav" id="tabNav">
    <button class="tab-btn <%= tab === 'general' ? 'tab-btn--active' : '' %>" data-tab="general">
        <img src="/assets/img/settings.svg" alt="" class="icon icon-neon"> Général
    </button>
    <button class="tab-btn <%= tab === 'commands' ? 'tab-btn--active' : '' %>" data-tab="commands">
        <img src="/assets/img/commands.svg" alt="" class="icon icon-blurple"> Commandes
    </button>
    <button class="tab-btn <%= tab === 'moderation' ? 'tab-btn--active' : '' %>" data-tab="moderation">
        <img src="/assets/img/shield.svg" alt="" class="icon icon-amber"> Modération
    </button>
    <button class="tab-btn <%= tab === 'leveling' ? 'tab-btn--active' : '' %>" data-tab="leveling">
        <img src="/assets/img/rank.svg" alt="" class="icon icon-neon"> Leveling
    </button>
    <button class="tab-btn <%= tab === 'logs' ? 'tab-btn--active' : '' %>" data-tab="logs">
        <img src="/assets/img/log.svg" alt="" class="icon icon-amber"> Logs
    </button>
</div>